<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome to the dashboard, <%= username %>!</h1>
    <label for="gender">Gender: <%= gender %></label>
    <label for="age">Age: <%= age %></label>
    <label for="weight">Weight: <%= weight %></label>
    <label for="height">Height: <%= height %></label>
  </body>
</html>
